.container{
    width: 370px;
    margin: 0 auto;
  }
  .album{
    width: 370px;
    height: 250px;
    overflow: hidden;
  }
  .images{
    position: relative;
    display: flex;
    height: 250px;
  }
  img{
    width: 370px;
    height: 250px;
  }
  button, button:active, button:focus{
    width: 180px; 
    height: 25px;
    background-color: pink;
    outline: none;
    border: none;
  }
  button:disabled{  
    background-color: gainsboro;
  }
  .prev{
    float: left;
  }
  .next{
    float: right;
  }